<div class="grid-content small-12">
	<h3>Our Amazing Hotels</h3>
	<h3 class="subheader">Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue.
	</h3>
</div>
<div class="grid-block small-12 small-up-2 medium-up-2 large-up-3">
  <div class="grid-content">
    <div class="dark card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        The Oriental, Bangkok
      </div>
      <div class="card-section">
        <h4>Chiang Mai, Thailand</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="primary card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        Sabi Sabi Private Game Reserve
      </div>
      <div class="card-section">
        <h4>Positano, Italy</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="success card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        Malliouhana Hotel &amp; Spa
      </div>
      <div class="card-section">
        <h4>Soufriere, St Lucia</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="warning card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        Hotel Saint-Barth Isle de France
      </div>
      <div class="card-section">
        <h4>Reims, France</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="dark card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        Shangri-La’s Far Eastern Plaza Hotel
      </div>
      <div class="card-section">
        <h4>Cape Town, South Africa</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="primary card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        Gleneagles Hotel
      </div>
      <div class="card-section">
        <h4>Zihuatanejo, Mexico</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="secondary card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        Gravetye Manor Hotel
      </div>
      <div class="card-section">
        <h4>Amman, Jordan</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="success card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        Shangri-La’s Far Eastern Plaza Hotel
      </div>
      <div class="card-section">
        <h4>Chiang Mai, Thailand</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        Katikies Hotel
      </div>
      <div class="card-section">
        <h4>Healdsburg, California</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        The Inn at Spanish Bay
      </div>
      <div class="card-section">
        <h4>Pebble Beach, California</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
        Horned Dorset Primavera
      </div>
      <div class="card-section">
        <h4>Taupo, New Zealand</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>
</div> 