
<div class=" grid-block small-12">
	<h3>REVIEWS</h3>
</div>
<div class=" grid-block small-12 small-up-1 medium-up-2 large-up-3">
  <div class="grid-content">
    <div class="card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Cortona, Italy</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="primary card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Sabi Sands, South Africa</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="dark card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Munich, Germany</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="success card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Hawaii</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="warning card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Agra, India</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Jaipur, India</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Bangkok</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Reims, France</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Antigua</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Budapest</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="primary card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Cape Town, South Africa</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="dark card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Chiang Mai, Thailand</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="success card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Moremi Game Reserve, Botswana</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="warning card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Tanzania</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Soufriere, St Lucia</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Zihuatanejo, Mexico</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Masai Mara, Kenya</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Amman, Jordan</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Cortona, Italy</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="primary card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Sabi Sands, South Africa</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="dark card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Munich, Germany</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="success card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Hawaii</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="warning card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Agra, India</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Jaipur, India</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Bangkok</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Reims, France</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Antigua</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Budapest</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="primary card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Cape Town, South Africa</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="dark card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Chiang Mai, Thailand</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="success card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Moremi Game Reserve, Botswana</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="warning card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Tanzania</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Soufriere, St Lucia</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Zihuatanejo, Mexico</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Masai Mara, Kenya</h4>
      </div>
    </div>
  </div>
  <div class="grid-content">
    <div class="alert card">
      <img src="http://lorempixel.com/output/city-q-c-640-480-7.jpg">
      <div class="card-section">
        <h4>Amman, Jordan</h4>
      </div>
    </div>
  </div>
</div>
