
<div class="grid-content">
<section class="reviews block-list with-icons">
  <h3>REVIEWS</h3>
  <ul>
    <!-- With a label -->
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
    <li class="with-chevron">
      <a href="#">
        <img src="http://placeimg.com/200/200/arch">
        <span class="left stars block-list-label">&#42; &#42; &#42; &#42; &#42;</span>
        <span class="block-list-label">The Oriental, Bangkok</span>
      </a>
    </li>
  </ul>
</section>
</div>