.as-seen-in {
  h3 {
    margin: 60px 0 40px 0;
  }

  img {
    height: 80px;
    margin: 0 15px;
    position: relative;
    width: auto;

    &.producthunt {
      top: 1px;
    }

    &.campaignmonitor {
      height: 75px;
      top: 8px;
    }

    &.emailonacid {
      top: -2px;
    }

    &.litmus {
      top: -1px;
    }

    &.reallygoodemails {
      top: -1px;
    }
  }
}

.foundation-intro {
  &.as-seen-in {
    img {
      height: 60px;
      margin: 0;
    }
  }
}

.companies {
  margin-bottom: 60px;

  h3 {
    font-size: rem-calc(30);
    margin-bottom: 50px;
  }

  ul {
    text-align: center;

    &:first-child {
      margin-bottom: 30px;
    }
  }

  li {
    display: inline-block !important;
  }
}
