.banner-badge {
  background: $primary-color;
  padding: 0.33333rem 1.75rem;
  color: $white;
  position: absolute;
  display: inline-block;
  right: 2rem;
  top: 6rem;

  // &::before {
  //   content: '';
  //   @include css-triangle(16px, $white, right);
  //   position: absolute;
  //   left: 0;
  //   top: 1px;
  // }

  // &::after {
  //   content: '';
  //   @include css-triangle(16px, $white, left);
  //   position: absolute;
  //   right: 0;
  //   top: 1px;
  // }
}
