.benefits-wrap {
   img {
      margin: 20px 0;
      width: 100%;
   }

   hr.dotted {
      margin-top: 0;
      margin-bottom: 37px;
   }

   .selling-points {
      font-size: 21px;
      line-height: 24px;
      width: 100%;

      +p {
         margin-bottom: 30px;
      }
   }

   .benefit-icons {
      margin-top: 20px;

      &.zurbian {
         background: image-url('courses/zurbian.svg') no-repeat center center;
         background-size: 120px 120px;
         height: 120px;
         width: 120px;
         position: relative;
         margin-bottom: 20px;
      }

      &.comprehensive {
         background: image-url('courses/comprehensive.svg') no-repeat center center;
         background-size: 120px 120px;
         height: 120px;
         width: 120px;
         position: relative;
         margin-bottom: 20px;
      }

      &.dude {
         background: image-url('courses/dude.svg') no-repeat center center;
         background-size: 120px 120px;
         height: 120px;
         width: 120px;
         position: relative;
         margin-bottom: 20px;
      }

      &.responsive-icon {
         background: image-url('courses/responsive-icon.svg') no-repeat center center;
         background-size: 120px 120px;
         height: 120px;
         width: 120px;
         position: relative;
         margin-bottom: 20px;
      }

      &.present {
         background: image-url('courses/present.svg') no-repeat center center;
         background-size: 120px 120px;
         height: 120px;
         width: 120px;
         position: relative;
         margin-bottom: 20px;
      }

      &.travel {
         background: image-url('courses/travel.svg') no-repeat center center;
         background-size: 120px 120px;
         height: 120px;
         width: 120px;
         position: relative;
         margin-bottom: 20px;
      }

      &.pencil-icon {
         background: image-url('courses/pencil-icon.svg') no-repeat center center;
         background-size: 120px 120px;
         height: 120px;
         width: 120px;
         position: relative;
         margin-bottom: 20px;
      }
   }
}
