//TODO: Refactor all this
.intro-course-callout {
  background: -webkit-linear-gradient(bottom, #4e5763, #0e1c22);
  padding: 4rem 0 0;
  position: relative;

  @include breakpoint(medium down) {
    padding: 2rem 0 0;
  }

  .course-buttons {
    text-align: center;

    @include breakpoint(large) {
      text-align: left;
    }
  }

  .banner-image {
    background: url('../img/course-callout/foundation6-intro-course.svg') bottom no-repeat;
    background-size: 80%;
    height: 260px;
    max-width: 600px;

    @include breakpoint(medium down) {
      background-size: 40%;
      height: 160px;
      max-width: 700px;
    }
  }

  .banner-info {

    h5 {
      @include proxima-nova;

      @media only screen and (max-width: 767px) {
        font-size: 22px;
        text-align: center;
      }

      color: $gray-3;
      font-size: 24px;
      font-weight: 200;
      margin-bottom: 22px;
    }

    p {

      @media only screen and (max-width: 767px) {
        text-align: center;
      }

      @media only screen and (max-width: 1020px) {
        text-align: center;
      }

      color: $true-white;
      font-size: 15px;
    }

    h3 {
      color: $true-white;
      font-size: 30px;
      font-weight: 200;
      line-height: 1.2;
      margin: 14px 0 20px;

      @media only screen and (max-width: 767px) {
        text-align: center;
      }

      @media only screen and (max-width: 1020px) {
        text-align: center;
      }

    }

    .learn-more {
      background: none;
      color: $true-white;

      @media only screen and (max-width: 767px) {
        margin: 0;
        text-align: center;
      }

      @media only screen and (max-width: 1020px) {

        text-align: center;
      }

      margin-left: -10px;
    }

    a {
      &.inline-hide {
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }

      &.button {
        @include proxima-nova;
        -webkit-font-smoothing: antialiased;
        background: $primary-color !important;
        border: none;
        box-shadow: none;
        color: $true-white;
        display: inline-block;
        font-weight: bold !important;
        text-align: center;
  
        @media only screen and (max-width: 767px) {
          width: 100%;
        }

        &.learn-more {
          background: none !important;
          color: $true-white;
        }
      }
    }
  }
}

#courses-banner-small {
  background: #f4f4f4;
  margin-top: 30px;
  padding: 15px 0;

  .banner-image img {
    bottom: 0;
    display: block;
    left: 2rem;
    margin: -40px auto 0;
    position: absolute;
    width: 72%;

    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .banner-info {
    h5 {
      color: $gray-3;
      font-size: 24px;
      font-weight: 200;
      margin-bottom: 10px;
      margin-top: 10px;

      @media only screen and (max-width: 767px) {
        font-size: 22px;
        text-align: center;
      }
    }

    p {
      @media only screen and (max-width: 767px) {
        text-align: center;
      }

      color: $gray-3;
      font-size: 15px;

      &.date {
        margin-bottom: 10px;
        margin-top: 20px;
      }
    }

    .learn-more {
      @media only screen and (max-width: 767px) {
        margin: 0;
        text-align: center;
      }

      margin-left: 20px;
    }

    a.inline-hide {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    a.button {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      @include proxima-nova;
      -webkit-font-smoothing: antialiased;
      border: 0;
      box-shadow: none;
      color: $true-white;
      font-weight: bold !important;
    }
  }
}

// -----------------------------------------
// Proxima Nova
// -----------------------------------------
// Regular
@font-face {
  font-family: 'proxima-nova';
  font-style: normal;
  font-weight: normal;
  src: font-url('ProximaNova-Reg-webfont.woff') format('woff');
}

// Light
@font-face {
  font-family: 'proxima-nova';
  font-style: normal;
  font-weight: 200;
  src: font-url('ProximaNova-Light-webfont.woff') format('woff');
}

// Bold
@font-face {
  font-family: 'proxima-nova';
  font-style: normal;
  font-weight: bold;
  src: font-url('ProximaNova-Bold-webfont.woff') format('woff');
}

// Xtra Bold
@font-face {
  font-family: 'proxima-nova';
  font-style: normal;
  font-weight: 900;
  src: font-url('ProximaNova-Xbold-webfont.woff') format('woff');
}

// Regular Italic
@font-face {
  font-family: 'proxima-nova';
  font-style: italic;
  font-weight: normal;
  src: font-url('proximanova-regitalic-webfont.woff') format('woff');
}

// Condensed Regular
@font-face {
  font-family: 'proxima-nova-condensed';
  font-style: normal;
  font-weight: normal;
  src: url('proximanovacond-regular.woff') format('woff');
}

// Condensed Bold
@font-face {
  font-family: 'proxima-nova-condensed';
  font-style: normal;
  font-weight: bold;
  src: url('proximanovacond-bold-webfont.woff') format('woff');
  text-transform: uppercase !important;
}

// Condensed Semibold
@font-face {
  font-family: 'proxima-nova-condensed';
  font-style: normal;
  font-weight: 600;
  src: url('proximanovacond-semibold-webfont.woff') format('woff');
}
