.outline-wrap {
  margin-bottom: 50px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .section-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;

    h4 {
      margin-bottom: 2px;
    }

    .desc {
      @include proxima-nova;
      font-size: em-calc(16);
    }

    .sub-info {
      @include proxima-nova-condensed;
      color: #777;
      font-size: em-calc(14);
      font-weight: 600;
      margin-bottom: 0;
      position: relative;
      text-transform: uppercase;
      top: -14px;
    }
  }

  .email-lesson-link {
    color: #d9708b;
    font-weight: 600;
  }

  .outline-intro {
    list-style-type: none;
    margin-bottom: 60px;
    margin-top: 10px;

    li {
      padding: 25px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }

      img {
        margin-top: 8px;
      }
    }

    h6 {
      span {
        font-style: italic;
      }
    }

    .outline-bullets {
      color: #777;
      list-style: disc;

      li {
        border: none;
        font-size: emCalc(14px);
        padding: 0;
      }
    }

    .outline-bullets.large {
      color: $gray-3;
      margin-left: 0.9375em;

      li {
        font-size: emCalc(18px);
      }
    }
  }
}

.outline {
  list-style-type: none;

  li {
    color: #777;
    font-size: 1.125rem;
  }
}
