#studiosCallout {
  background-color: #fafafa !important;
  border-top: 1px solid #f6f4f4;
  padding: 45px 45px 20px 45px !important;

  .property-label {
    font-family: 'Proxima Nova Condensed Bold', 'Proxima Nova Condensed', 'proxima-nova-condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  h3 {
    color: $gray-3;
    font-size: 26px;
    margin-top: 20px;
  }

  .lead {
    color: $gray-3;
    font-size: 18px;
  }

  img {
    height: 250px;
    overflow: hidden;
    width: 100%;
  }

  &.university {
    .button {
      background: #ff6908;

      &:hover {
        background-color: #de5700;
        transition: .25 ease all;
      }
    }

    .property-label {
      color: #ff6908;
    }
  }

  &.foundation {
    .button {
      background: #2CADBE;

      &:hover {
        background-color: #228795;
        transition: .25 ease all;
      }
    }

    .property-label {
      color: #2CADBE;
    }
  }

  &.studios {
    .button {
      background: #2CADBE;

      &:hover {
        background-color: #228795;
        transition: .25 ease all;
      }
    }

    .property-label {
      color: #2CADBE;
    }
  }
}

#studiosCallout {
  @media (max-width: 650px) {
    text-align: left;

    .button {
      width: auto;
    }

    h1 {
      margin-top: 0;
    }
  }
}

.block-pattern {
  margin-bottom: 3rem;
}

.supporticons {
  h3 {
    text-align: left;
  }

  p {
    margin-top: 1rem;
    text-align: left;
  }

  img {
    display: block;
    height: 200px;
    margin: 1rem auto 0 auto;
    padding: 20px;
  }

  a {
    margin-bottom: 1.25rem;
    text-align: center;
  }

}

.centered-text {
  text-align: center;

}

.notable-access-cta {
  margin-bottom: 3rem;
}

#contribute-large-marquee {
  background: #f8f8f8;
  padding: 30px 0 0;
  position: relative;
  width: 100%;

  h1 {
    color: $gray-3;
    line-height: 1;
    margin: 60px 0 30px 0;
  }

  h4 {
    color: $gray-3;
    margin: 10px 0 30px;
  }

  a {
    color: $gray-3;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  @media screen and (max-width:768px) {
    background-image: none;
    padding: 40px 0;
  }

  img {
    margin-top: 0;
    max-width: 170%;
  }
}

.contributors {
  text-align: center;

  img {
    border-radius: 50%;
    max-width: 8rem;
  }
}

.resources-icon {
  height: 46px;
  margin-right: 10px;
  width: 46px;

  &.emails {
    height: 200px;
    width: 200px;
  }
}

.cirriculum {
  ul {
    padding-left: 40px;
  }
}

.custom-training-intro-img {
  background: url('../img/learn/training/teaching_resized.jpg') center center;
  background-size: cover;
  height: 400px;
  margin-top: 20px;
}

.training-features {
  padding-left: 30px;
  padding-top: 15px;
}

.page-content {
  margin: 1.875rem 0;

  @include breakpoint(medium) {
    margin: 4rem 0;
  }
}

ul.indent {
  margin-left: 1rem;
}

.mb0 {
  margin-bottom: 0;
}
