// testimonial styles
.course-testimonials {
  background: #F6F6F6 !important;
  position: relative;
  padding: 70px 0 10px 0;
}

.testimonial {
  .quote-courses {
    background: #ebf3f5;
    padding: 15px 20px 5px 15px;
    border-radius: 5px;
    margin-bottom: 30px;

    p {
      @include proxima-nova;
      font-size: emCalc(16px);
      font-style: italic;
      margin: 0;
    }

    &:after {
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 20px 18px 0 18px;
      border-color: #ebf3f5 transparent transparent transparent;
      position: relative;
      top: 37px;
      left: 20px;
    }
  }

  .student {
    margin-left: 25px;
    margin-bottom: 80px;

    img {
      display: inline-block;
      border-radius: 100px;
      width: 60px;
      height: 60px;
      float: left;
      margin-right: 10px;
    }

    p:nth-child(2) {
      @include proxima-nova-condensed;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
      position: relative;
      top: 5px;
    }

    p:nth-child(3) {
      @include proxima-nova-condensed;
      text-transform: uppercase;
      font-size: 14px;
      color: $gray;
      position: relative;
      top: 5px;
    }
  }
}
