---
layout: email-templates
name: Basic Template
---

<style type="text/css">
.header {
  background: #8a8a8a;
}
.header .columns {
  padding-bottom: 0;
}
.header p {
  color: #fff;
  margin-bottom: 0;
}
.header .wrapper-inner {
  padding: 20px; /*controls the height of the header*/
}
.header .container {
  background: #8a8a8a;
}
.wrapper.secondary {
  background: #f3f3f3;
}
</style>

<table align="center" bgcolor="#8A8A8A" class="wrapper header float-center">
  <tr>
    <td class="wrapper-inner">
      <table align="center" class="container">
        <tbody>
          <tr>
            <td>
              <table class="row collapse">
                <tbody>
                  <tr>
                    <th class="small-6 large-6 columns first" valign="middle">
                      <table>
                        <tr>
                          <th><img src="https://placehold.it/200x50/663399"></th>
                        </tr>
                      </table>
                    </th>
                    <th class="small-6 large-6 columns last" valign="middle">
                      <table>
                        <tr>
                          <th>
                            <p class="text-right">BASIC</p>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<table align="center" class="container float-center">
  <tbody>
    <tr>
      <td>
        <table class="spacer">
          <tbody>
            <tr>
              <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
            </tr>
          </tbody>
        </table>
        <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-12 columns first last">
                <table>
                  <tr>
                    <th>
                      <h1>Hi, Susan Calvin</h1>
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iste, amet consequatur a veniam.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut optio nulla et, fugiat. Maiores accusantium nostrum asperiores provident, quam modi ex inventore dolores id aspernatur architecto odio minima perferendis, explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quos quasi itaque beatae natus fugit provident delectus, magnam laudantium odio corrupti sit quam. Optio aut ut repudiandae velit distinctio asperiores?</p>
                      <table class="callout">
                        <tr>
                          <th class="callout-inner primary">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit repellendus natus, sint ea optio dignissimos asperiores inventore a molestiae dolorum placeat repellat excepturi mollitia ducimus unde doloremque ad, alias eos!</p>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>
        <table align="center" class="wrapper secondary">
          <tr>
            <td class="wrapper-inner">
              <table class="spacer">
                <tbody>
                  <tr>
                    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                  </tr>
                </tbody>
              </table>
              <table class="row">
                <tbody>
                  <tr>
                    <th class="small-12 large-6 columns first">
                      <table>
                        <tr>
                          <th>
                            <h5>Connect With Us:</h5>
                            <table class="menu vertical">
                              <tr>
                                <td>
                                  <table>
                                    <tr>
                                      <th class="menu-item float-center" style="text-align: left;">
                                        <a href="#">Twitter</a>
                                      </th>
                                      <th class="menu-item float-center" style="text-align: left;">
                                        <a href="#">Facebook</a>
                                      </th>
                                      <th class="menu-item float-center" style="text-align: left;">
                                        <a href="#">Google +</a>
                                      </th>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </th>
                    <th class="small-12 large-6 columns last">
                      <table>
                        <tr>
                          <th>
                            <h5>Contact Info:</h5>
                            
                            <p>Email: <a href="mailto:contact@get.foundation">contact@get.foundation</a></p>
                          </th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
