---
layout: email-templates
name: Hero Template
---

<table class="body">
  <tr>
    <td align="center" class="center" valign="top">
      <center data-parsed="">
        <style class="float-center" type="text/css">
          .header {
            background: #8a8a8a;
          }
          .header .columns {
            padding-bottom: 0;
          }
          .header p {
            color: #fff;
            margin-bottom: 0;
          }
          .header .wrapper-inner {
            padding: 20px; /*controls the height of the header*/
          }
          .header .container {
            background: #8a8a8a;
          }
          .wrapper.secondary {
            background: #f3f3f3;
          }
        </style><!-- move the above styles into your custom stylesheet -->
        <table align="center" class="wrapper header float-center">
          <tr>
            <td class="wrapper-inner">
              <table align="center" class="container">
                <tbody>
                  <tr>
                    <td>
                      <table class="row collapse">
                        <tbody>
                          <tr>
                            <th class="small-6 large-6 columns first" valign="middle">
                              <table>
                                <tr>
                                  <th><img src="http://placehold.it/200x50/663399"></th>
                                </tr>
                              </table>
                            </th>
                            <th class="small-6 large-6 columns last" valign="middle">
                              <table>
                                <tr>
                                  <th>
                                    <p class="text-right">HERO</p>
                                  </th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
        <table align="center" class="container float-center">
          <tbody>
            <tr>
              <td>
                <table class="spacer">
                  <tbody>
                    <tr>
                      <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                    </tr>
                  </tbody>
                </table>
                <table class="row">
                  <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <table>
                          <tr>
                            <th>
                              <h1>Hi, Elijah Baily</h1>
                              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi impedit sapiente delectus molestias quia.</p><img alt="" src="http://placehold.it/548x300">
                              <table class="callout">
                                <tr>
                                  <th class="callout-inner primary">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda, praesentium qui vitae voluptate dolores. <a href="#">Click it!</a></p>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                              <h2>Title Ipsum <small>This is a note.</small></h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi repellat, harum. Quas nobis id aut, aspernatur, sequi tempora laborum corporis cum debitis, ullam, dolorem dolore quisquam aperiam! Accusantium, ullam, nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus consequuntur commodi, aut sed, quas quam optio accusantium recusandae nesciunt, architecto veritatis. Voluptatibus sunt esse dolor ipsum voluptates, assumenda quisquam.</p>
                              <table class="button large secondary">
                                <tr>
                                  <td>
                                    <table>
                                      <tr>
                                        <td>
                                          <a href="#">Click Me!</a>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </th>
                            <th class="expander"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                  </tbody>
                </table>
                <table align="center" class="wrapper secondary">
                  <tr>
                    <td class="wrapper-inner">
                      <table class="spacer">
                        <tbody>
                          <tr>
                            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="row">
                        <tbody>
                          <tr>
                            <th class="small-12 large-6 columns first">
                              <table>
                                <tr>
                                  <th>
                                    <h5>Connect With Us:</h5>
                                    <table align="left" class="menu vertical">
                                      <tr>
                                        <td>
                                          <table>
                                            <tr>
                                              <th class="menu-item float-center" style="text-align: left;">
                                                <a href="#">Twitter</a>
                                              </th>
                                              <th class="menu-item float-center" style="text-align: left;">
                                                <a href="#">Facebook</a>
                                              </th>
                                              <th class="menu-item float-center" style="text-align: left;">
                                                <a href="#">Google +</a>
                                              </th>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </th>
                                </tr>
                              </table>
                            </th>
                            <th class="small-12 large-6 columns last">
                              <table>
                                <tr>
                                  <th>
                                    <h5>Contact Info:</h5>
                                    <p>Phone: 408-341-0600</p>
                                    <p>Email: <a href="mailto:foundation@zurb.com">foundation@zurb.com</a></p>
                                  </th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
                <center data-parsed="">
                  <table align="center" class="menu float-center">
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <th class="menu-item float-center">
                              <a href="#">Terms</a>
                            </th>
                            <th class="menu-item float-center">
                              <a href="#">Privacy</a>
                            </th>
                            <th class="menu-item float-center">
                              <a href="#">Unsubscribe</a>
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </td>
  </tr>
</table>
