// Styles for the buzz page


.lead.intro {
  margin-bottom: 0;
}

.buzz-quote-name {
  text-align: center;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 80px;
  }
  h4 {
    font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-top: 0.75rem;
    margin-bottom: 5px;
  }
}


.buzz-quote {
  margin: 0;
  padding: 1px 0 0 1.5rem;
  margin-bottom: 3rem;
  border-left: 1px solid #eee;
  h4 {
    margin: -4px 0 0 0;
    font-weight: 200;
    font-size: 1.25rem;
    line-height: 1.6;
  }
}


.buzz-press {
  margin-bottom: 3rem;
  h4 {
    margin-top: -15px;
  }
  a{
    color: #222;
    font-weight: 300;
  }
  .lead {
    margin-bottom: .5rem;
    font-size: 1.125rem;
  }

  .excerpt {
    border-left: 1px solid #eee;
    padding: 1px 0 0 1.5rem;
  }

  .lead {
    font-size: 1.125rem;
    font-weight: 300;
  }

}


.cite {
  font-size: 0.75rem;
  font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif !important;
  font-weight: 600;
  text-transform: uppercase;
  color: #777777;
}


.buzz-tweet {
  border-bottom: solid #eee 1px;
  margin-bottom: 1rem;
  img{
    border-radius: 50%;
    width: 10%;
    float: left;
    margin: 0.35rem 1rem 1rem 0;
    border: 1px solid #efefef;
  }
  p {
    padding-left: 15%;
  }
}