.email-card {
  background: white;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.email-sponsorships-title {
  margin-bottom: 1.75rem;
  text-align: center;
}

.email-tier-title {
  font-weight: bold;
  margin-bottom: 0;
}
