.emails-intro {

  p,
  li {
    font-size: 1.25rem;
  }

  p:first-child {
    margin-bottom: 2rem;
  }

  ul {
    list-style-type: none;

    a {
      font-weight: bold;
    }
  }
}

.floating-inky {
  @keyframes inky-float {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(-10px)
    }
  }

  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: inky-float;
  animation-timing-function: ease-in-out;
  position: relative;
}

.emails-logo-list {
  align-items: center;
  display: flex;
  justify-content: space-around;

  img {
    display: block;
    height: 30px;
    margin: 0 auto;
  }

  #warriors {
    height: 120px;
  }

  #express {
    height: 20px;
  }

  // The Warriors logo is a bit big
  .column:nth-child(3) img {
    width: 55%;
  }
}

.emails-subpage-list {
  li {
    font-size: 1.5rem;
    margin-bottom: 1rem;

    &:hover {
      opacity: 0.65;
    }
  }

  a {
    color: $emails-accent-color;
    display: block;
  }

  img {
    height: 75px;
    margin-right: 0.75rem;
    width: 75px;
  }
}

.emails-landing {
  hr.dotted {
    max-width: 100%;

    @include breakpoint(large) {
      margin-bottom: 4rem;
      margin-top: 4rem;
    }
  }
}
