/// EVENTS (Shindigs)
.border-content {
  padding: 0 20px;

  &:hover {
    background: #f8f8f8;
  }
}

ul.events-list-updated {
  margin-left: 0 !important;

  li {
    display: block;
    border-bottom: 1px dashed #ddd;
  }
}

.clear {
  clear: both;
}

ul.events-list,
ul.events-list-bottom {
  display: block;
  list-style: none;
  margin: 40px 0;
  @include clearfix;

  li {
    display: block;
    width: 100%;

    &.inactive {
      opacity: .25;
      filter: alpha(opacity=25);
    }

    .border-content {
      border-bottom: 1px dashed #ddd;
      padding-bottom: 30px;
      margin: 15px 0;
    }

    a {
      display: block;
      color: $gray-3;
      float: left;

      &:hover {
        color: $gray-3;
      }

      &.date-image {
        width: 85px;
        margin-right: 20px;

        span.date {
          background-color: red;
          color: $true-white;
          text-align: center;
          font-size: rem-calc(13px);
          font-weight: normal;
          text-transform: uppercase;
          height: 40px;
          line-height: 40px;
        }
      }

      span {
        display: block;

        &.type {
          font-weight: bold;
          font-size: rem-calc(14px);
          @include proxima-nova-condensed;
          margin: -5px 0 10px;
          background: image-url("icons/event-icons.png") no-repeat 0 0;
          padding-left: 20px;
          text-transform: uppercase;

          &.soapbox {
            background-position: 0 4px;
          }

          &.speak {
            background-position: 0 -96px;
          }

          &.foundation {
            background-position: 0 -197px;
          }

          &.training {
            background-position: 0 -295px;
          }
        }

        &.person {
          font-size: emCalc(22px);
          font-weight: 200;
          @include proxima-nova;
          line-height: 26px;

          .title {
            font-size: emCalc(14px) !important;
          }
        }

        &.title {
          font-size: emCalc(14px);
          font-weight: normal;
          font-style: italic;
          color: #777;
        }

        &.event-name {
          font-size: emCalc(14px);
          font-weight: normal;
          margin-top: 8px;
        }

        &.description {
          font-size: emCalc(13px);
          margin-top: 10px;
          color: #8a9e0b;
        }
      }
    }

    a.more-info {
      width: 300px !important;
      position: absolute;
      padding-left: 105px;
    }
  }
}

ul.events-list-updated {
  margin-bottom: 40px;

  li {
    display: block;
    border-bottom: 1px dashed #ddd;

    &:last-child {
      border-bottom: none;
      margin-bottom: 4rem;
    }

    &.inactive {
      opacity: .25;
      filter: alpha(opacity=25);
    }

    .border-content a {
      color: $gray-3;
      display: block;
      padding: 26px 0 0 0;

      &.text-info {
        padding: 10px 0 26px;
      }
    }

    .border-content span {
      display: block;

      &.date {
        background: $primary-color;
        color: $true-white;
        @include proxima-nova;
        text-transform: uppercase;
        font-weight: normal;
        font-size: rem-calc(13px);
        padding: 10px 0;
        width: 80px;
        text-align: center;
        margin-bottom: 10px;
      }

      &.event-name {
        font-size: emCalc(24px);
        line-height: 26px;
        @include proxima-nova;
        font-weight: 200;
      }

      &.image {
        float: left;
      }

      &.person {
        font-size: emCalc(14px);
        font-weight: normal;
      }

      &.title {
        font-style: italic;
        color: #777;
      }

      &.description {
        color: $primary-color;
        font-size: rem-calc(14px);
      }

      &.city {
        font-weight: normal;
        color: $gray-3;
        display: inline-block;
      }

      &.info {
        font-size: emCalc(16px);
        line-height: 22px;
        font-weight: normal;
        color: #777;
        margin-bottom: 22px;
      }
    }

    .tools {
      text-align: left;
      padding: 17px 20px 0 20px;
      border-top: 1px dashed rgba($secondary-color, 0.7);
    }

  }
}

@media only screen and (max-width: 767px) {
  ul.events-list-updated li .border-content a.date-image {
    @include clearfix;

    span {
      display: block;
      float: left;
      height: 42px;

      img {
        height: 42px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  ul.events-list-updated li .border-content {
    a {
      float: left;
      display: block;
      padding: 26px 0 20px;

      &:hover {
        color: $gray-3;
      }

      &.date-image {
        width: 15%;
        margin-right: 3%;
      }

      &.text-info {
        width: 82%;
        padding: 26px 0 20px;
      }

      span {
        display: block;

        &.event-name {
          margin: 1px 0 10px;
        }

        &.date {
          width: 100%;
          height: 44px;
          padding: 0;
          line-height: 44px;
          margin-top: 5px;
          margin-bottom: 2px;
        }

        &.person {
          width: 40%;
          padding-right: 3%;
          margin-right: 3%;
          border-right: 1px solid #ddd;
          float: left;
          margin-top: -4px;
        }

        &.image {
          width: 100%;
          padding-right: 0;
          border-right: none;
          display: block;

          img {
            display: block;
          }
        }

        &.title,
        &.city {
          display: block;
          float: none;
          font-size: 14px;
        }

        &.description {
          width: 54%;
          float: left;
          margin-top: -4px;
        }
      }
    }
  }
}

ul.events-list-bottom {
  margin-top: 20px;

  li {
    border-bottom: 1px solid #efefef;
    min-height: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    a {
      float: none;
    }
  }
}
