<header class="marketing-hero">
  <h1 class="hero-main-header">Case Studies</h1>

  <ul class="marketing-subnav">
    <li><a target="_blank" href="http://zurb.com/responsive">Showcase <i class="fa fa-external-link"></i></a></li>
    <li><a href="{{root}}showcase/brands.html">Brands</a></li>
    <li><a href="{{root}}showcase/case-studies.html" class="is-active">Case Studies</a></li>
    <li><a href="{{root}}showcase/buzz.html">Buzz</a></li>
    <li><a href="{{root}}showcase/about.html">About</a></li>
  </ul>
</header>

