<br><br>

  <div class="row">
    <div class="columns">

      <div class="container-hover">
        <a href="https://zurb.com/university/responsive-emails-foundation" target="_blank">
          <div class="row column">
            <h2 class="text-center">Learn more in our ZURB MASTER CLASS Responsive Emails</h2>
          </div>

          <div class="row">
            <div class="columns medium-7 medium-centered">
              <div class="media-object">
                <div class="media-object-section middle">
                  <img style="margin-right: 10px;" class="avatar" src= "https://zurb.com/stickers/images/intro-responsive-email.png">
                </div>
                <div class="media-object-section middle">
                  <span class="thumb-description">In this online class, you’ll learn how to rapidly design and develop responsive emails that look beautiful on just about every screen, browser, and email client out there—even Outlook.</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
