<section class="emails-course">
  <div class="row">
    <div class="medium-7 medium-push-5 columns">
      <div class="course-callout">
        <h3 class="emails-course-title"><span>ZURB MASTER CLASS</span>Responsive Emails</h3>
        <p>In this online class, you’ll learn how to rapidly design and develop responsive emails that look beautiful on just about every screen, browser, and email client out there—even Outlook.</p>
        <a href="//zurb.com/university/responsive-emails-intro?utm_source=Ink%20Marketing%20Site&utm_medium=Marketing%20Site&utm_content=Ink%20Download%20Page&utm_campaign=Introduction%20to%20Responsive%20Emails" class="button primary" target="_blank">Learn Foundation for Emails</a>
      </div>
    </div>
    <div class="medium-4 medium-pull-8 columns">
        <a href="//zurb.com/university/responsive-emails-intro?utm_source=Ink%20Marketing%20Site&utm_medium=Marketing%20Site&utm_content=Ink%20Download%20Page&utm_campaign=Introduction%20to%20Responsive%20Emails" target="_blank"><img src="{{root}}assets/img/inky-class.png"/></a>
    </div>
  </div>
</section>
