<br><br>

  <div class="row">
    <div class="columns">

      <div class="container-hover">
        <a href="http://zurb.com/university/foundation-intro" target="_blank">
          <div class="row column">
            <h2 class="text-center">Learn more in ZURB's Advanced Foundation 6 Class</h2>
          </div>

          <div class="row">
            <div class="columns medium-7 medium-centered">
              <div class="media-object">
                <div class="media-object-section middle">
                  <img style="margin-right: 10px;" class="avatar" src= "https://zurb.com/stickers/images/advanced-foundation.png">
                </div>
                <div class="media-object-section middle">
                  <span class="thumb-description">This is just a taste of the amazing topics you'll learn in our Advanced Foundation Class. If you're looking to be a Foundation expert, enroll in our Advanced Foundation Class and we'll help you achieve your goals.</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
