<div class="row headspace-20">
  <div class="small-12 columns">
    <h3>Need to Learn More About Foundation?</h3>
    <p>Get your team up and running on Foundation with our online training courses!</p>
  </div>
</div>

 <div class="row">
  <div class="large-4 columns">   
    <a href="//zurb.com/university/foundation-intro" target="blank">
    <img src="{{root}}assets/img/learn/training/intro.png">
    <h4>Intro to Foundation</h4></a>
    <p>An introductory implementation-focused class on learning the fundamentals of using Foundation.</p>
  </div>
  
  <div class="large-4 columns">       
    <a href="//zurb.com/university/advanced-foundation-training" target="blank">
    <img src="{{root}}assets/img/learn/training/advanced.png">
    <h4>Advanced Foundation</h4></a>
    <p>An implementation-focused course on kicking your Foundation skills up a notch.</p>
  </div>
  
  <div class="large-4 columns">       
    <a href="//zurb.com/university/training" target="blank">
    <img src="{{root}}assets/img/learn/training/responsive.png">
    <h4>Custom Foundation Training</h4></a>
    <p>Learn the right design skills to move your business forward.</p>
  </div>
</div>