<br><br>

  <div class="row">
    <div class="columns">

      <div class="container-hover">
        <a href="https://zurb.com/university/foundation-intro" target="_blank">
          <div class="row column">
            <h2 class="text-center">Learn more in ZURB's Intro to Foundation 6 Class</h2>
          </div>

          <div class="row">
            <div class="columns medium-7 medium-centered">
              <div class="media-object">
                <div class="media-object-section middle">
                  <img style="margin-right: 10px;" class="avatar" src= "https://zurb.com/stickers/images/intro-foundation.png">
                </div>
                <div class="media-object-section middle">
                  <span class="thumb-description">Learn the world’s most advanced responsive front end framework directly from the team of engineers and designers that built it. Through easy to follow code examples, insider tips and tricks, and live coaching, our team will will make sure you’ve got everything you need to hit the ground running with the Foundation framework!</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
