<!-- signup modal -->
<div class="reveal tiny signup-modal-alt" id="signup-modal-alt" data-reveal>
  <div class="row column signup-modal-header sites">
    <h3>Download All the Templates</h3>
    <h5 class="subheader">Plus learn how to get the most out of Foundation for Emails</h5>
  </div>
  <div class="row column"><hr></div>
  <form class="emails" action="https://zurb.createsend.com/t/y/s/vjtydu/" method="post" id="subForm" data-abide novalidate>
    <fieldset class="small-12 columns">
      <legend>Choose Your Interest</legend>
      <div class="row collapse">
        <div class="columns">
          <input id="fieldfziiu-0" name="cm-fo-fziiu" value="1041813"  checked="checked" type="radio" ><label for="fieldfziiu-0">Email Development Tactics</label>
        </div>
        <div class="columns">
          <input type="radio" id="fieldfziiu-1" name="cm-fo-fziiu" value="1041814"><label label for="fieldfziiu-1">Email Marketing Tactics</label>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="small-12 columns">
        <input id="fieldName" name="cm-name" type="text" placeholder="Full name" required>
        <span class="form-error">
          Hey You! Let us know your name so we don’t have to say “Hey You!”
        </span>
      </div>
      <div class="small-12 columns">
        <input id="fieldEmail" name="cm-vjtydu-vjtydu" type="email" placeholder="Email address" required>
        <span class="form-error">
          We need a valid email address so we can make sure you get these templates.
        </span>
      </div>
      <div class="small-12 columns">
        <input id="fieldfzjhr" name="cm-f-fzjhr" type="text" placeholder="Company" required>
        <span class="form-error">
          Add your company name or write “Self” if you’re flying solo.
        </span>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns text-center">
        <button id="signup-download-form-submit" type="submit" class="ink button expanded large">Send me the templates</button>
      </div>
    </div>
  </form>
</div>
