<div class="row discover-links">
  <div class="large-3 columns">
    <a href="{{root}}emails/getting-started.html" class="process">
      <span class="title">Getting Started</span>
      <span class="description">Get the 1-2-3 of how to use Foundation for Emails to create your own responsive HTML email.</span>
    </a>
  </div>
  <div class="large-3 columns">
    <a href="https://get.foundation/emails/docs" class="docs" target="_blank">
      <span class="title">Docs</span>
      <span class="description">Learn how to use all the powers of Foundation for Emails to create beautiful, dynamic HTML emails.</span>
    </a>
  </div>
  <div class="large-3 columns">
    <a href="{{root}}emails/email-templates.html" class="download">
      <span class="title">Templates</span>
      <span class="description">We've got twelve premade layouts that cover everything from transactional to marketing emails.</span>
    </a>
  </div>
  <div class="large-3 columns">
    <a href="{{root}}emails/inliner-v2.html" class="inliner">
      <span class="title">Inliner</span>
      <span class="description">Use our web inliner to bring your styles with a simple form.</span>
    </a>
  </div>
</div>
