<div class="zurb-footer-top bg-fblue layout-emails">
  <div class="row property">
    <div class="medium-4 columns">
      <div class="property-info">
          <h3>Foundation for Emails</h3>

          <p>Foundation for Emails is the first &amp; most advanced responsive HTML email framework in the world. Quickly create responsive HTML emails that work on any device &amp; client. Even Outlook. Foundation is made by <a href="https://zurb.com">ZURB</a>, a product design company in Campbell, CA. This framework is the result of building web products &amp; services since 1998.</p>

      </div>
    </div>

    <div class="medium-8 columns">
      <div class="row collapse">
        <div class="medium-4 columns">
          <div class="learn-links">
            <h4 class="hide-for-small">Want more?</h4>
            <ul>
                <li><a href="{{root}}sites">Foundation for Sites</a></li>
              <li><a href="https://zurb.com/university">Foundation Training</a></li>
            </ul>
          </div>
        </div>
          <div class="medium-4 columns">
            <div class="support-links">
            <h4 class="hide-for-small">Talk to us</h4>
            <p>Tweet us at <br> <a href="https://twitter.com/FoundationCSS">@FoundationCSS</a></p>
            <p><a href="{{root}}get-involved/contribute.html">Get involved in<br>our amazing community.</a></p>
            </div>
          </div>
        <div class="medium-4 columns">
          <div class="connect-links">
            <h4 class="hide-for-small">Stay Updated</h4>
            <p>Keep up with the latest on Foundation. Find us on <a href="https://github.com/foundation">Github</a>.</p>

              <a href="{{root}}emails/emails-insider.html" class="small button">Stay Connected</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="zurb-footer-bottom">
  <div class="row">
    <div class="medium-4 medium-push-8 columns">
      <ul class="home-social">
          <li><a href="https://www.youtube.com/FoundationCSS" class="youtube"></a></li>
          <li><a href="https://www.twitter.com/FoundationCSS" class="twitter"></a></li>
        </ul>
     </div>
  </div>
</div>
