<ul class="marketing-subnav">
  <li><a href="https://zurb.com/responsive" {{#ifpage 'responsive'}}class="is-active" {{/ifpage}}>Showcase <i class="fa fa-external-link"></i></a></li>
  <li><a href="{{root}}showcase/brands.html"{{#ifpage 'brands'}}class="is-active" {{/ifpage}}>Brands</a></li>
  <li><a href="{{root}}showcase/case-studies.html"{{#ifpage 'case-studies'}}class="is-active" {{/ifpage}}>Case Studies</a></li>
  <li><a href="{{root}}showcase/buzz.html" {{#ifpage}}class="is-active"{{/ifpage}}>Buzz</a></li>
  <li><a href="{{root}}showcase/about.html" {{#ifpage}}class="is-active"{{/ifpage}}>About</a></li>
</ul>
