<div class="title-bar hide-for-medium">
  <div class="title-bar-left">
    <button class="menu-icon-style" type="button" data-open="offCanvas"><img class="hamburger-icon" alt="Menu icon" src="{{root}}assets/img/icons/menu-grey.png">
      {{#ifequal layout '404'}}
      <span class="title-bar-title"><img src="/assets/img/zurb-logo.svg" alt="ZURB"><span class="title-bar-title-text">Foundation</span>
      {{else}}
      <a class="title-bar-home-link" href="{{root}}"><span class="title-bar-title"><img src="{{root}}assets/img/zurb-logo.svg" alt="ZURB"><span class="title-bar-title-text">Foundation</span></a>
      {{/ifequal}}
    </button>
  </div>
</div>
