<!-- Support Unit -->
<section id="studiosCallout">
  <div class="row">
    <div class="medium-4 large-4 columns">
      <img src="../assets/img/support/f-smb.svg" alt="">
    </div>
    <div class="medium-8 large-8 columns banner-info">
      <div class="row column property-label">Foundation Framework</div>
      <h3 class="light">Yeah, we can help with that.</h3>
      <p class="lead"> We’ll collaborate with your team throughout the entire project life cycle. We’ll take your concept and move it through ideation, hi-fi wireframes, visual design and code, all while informing you on the whys and hows along the way.</p>
      <div class="course-buttons">
        <a href="https://get.foundation/get-involved/premium-support.html" class="studios button" data-zcom-event="studios_foundation_click" id="foundationSmallV1">Show Me How &rarr;</a>
      </div>
    </div>
  </div>
</section>
