<section>
  <div class="row expanded intro-course-callout">
    
    <div class="large-7 large-push-5 columns banner-info">
      <h3>Foundation 6 Training: Boost Your Skills and Elevate Your Projects</h3>
      <p>Get your projects from prototype to production with our newest online course, Intro to Foundation 6. Give yourself the edge by learning directly from the Foundation team in this comprehensive introductory course.</p>
      <!-- tracking link -->
      
      <div class="course-buttons">
        <a href="http://zurb.us/1M6626B" class="sites button ">Learn More</a>
      </div>
    </div>
    
    <div class="banner-image large-5 large-pull-7 columns">
    </div>
    
  </div>
</section>