<!-- Large Business (Marketing Home) -->
<section id="studiosCallout" class="foundation">
  <div class="row">
    <div class="large-4 medium-4 columns">
      <img src="https://www.get.foundation/assets/img/smallbiz-footer.svg" alt="">
    </div>
    <div class="large-8 medium-8 columns banner-info">
      <div class="row column property-label">ZURB STUDIOS</div>
      <h3 class="light">What's your solution?</h3>
      <p class="lead">Find out how our approach can create momentum for your business, and demand engagement from your audience with ZURB Studio's Progressive Design. No surprises, no big reveal, just good clean product design. Let's build something amazing together.</p>
      <div class="course-buttons">
          <a href="//zurb.com/studios/getstarted" class="button" data-zcom-event="studios_foundation_click" id="foundationEnterpriseV1">Show Me How &rarr;</a>
      </div>
    </div>
  </div>
</section>
