<div class="row mb">
  <div class="columns large-centered large-10">

  <h2 class="section-header">Foundation's Beginnings</h2>

  <div id="timeline">
    
    <div class="timeline-item">
      <div class="timeline-icon">
        <img src="{{root}}assets/img/icons/2008.png" class="" height="21" width="21" alt="">
      </div>
      <div class="timeline-content">
        <p class="timeline-content-date">2008</h2>
        <p>The ZURB Style Guide is created to help us speed up our work. It’s a handy collection of HTML, CSS and Javascript that we use on every client project. The ideas of ZURB Style Guide evolve over the years and form the basis for a new framework, Foundation.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <img src="{{root}}assets/img/icons/2010.png" class="" height="21" width="21" alt="">
      </div>
      <div class="timeline-content right">
        <p class="timeline-content-date">2010</h2>
        <p>ZURB style guide was solidified and named Foundation. It is being used internally on all client projects and ZURB sites and apps.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <img src="{{root}}assets/img/icons/2011.png" class="" height="21" width="21" alt="">
    </div>
    <div class="timeline-content">
      <p class="timeline-content-date">2011</h2>
      <p>
        <a href="//foundation.zurb.com/sites/docs/v/2.2.1/" target="_blank">Foundation 2.0</a> is released to the public as an open source project! Foundation is the first responsive front-end framework and helps lead the charge for RWD across the web.
      </p>
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-icon">
      <img src="{{root}}assets/img/icons/2012.png" class="" height="21" width="21" alt="">
  </div>
  <div class="timeline-content right">
    <p class="timeline-content-date">2012</h2>
    <p>
      <a href="//foundation.zurb.com/sites/docs/v/3.2.5/" target="_blank">Foundation 3.0</a> is released! This version comes with Sass and is the first framework to use mixins and Sass partials.
    </p>
  </div>
</div>

<div class="timeline-item">
  <div class="timeline-icon">
    <img src="{{root}}assets/img/icons/2013FEB.png" class="" height="21" width="21" alt="">
  </div>
  <div class="timeline-content">
    <p class="timeline-content-date">2013 - <span class="timeline-content-month">february</span></p>
    <p>This year saw not one, but three releases to Foundation! <a href="//foundation.zurb.com/sites/docs/v/4.3.2/index.html" target="_blank">Version 4</a> went <a href="//zurb.com/word/mobile-first" target="_blank">mobile first</a>, added many new components, and came with a visual update. Our responsive image plugin called <a href="//foundation.zurb.com/sites/docs/v/4.3.2/components/interchange.html" target="_blank">Interchange</a> was added to Foundation to make sites built with it load even faster.</p>
  </div>
</div>

<div class="timeline-item">
  <div class="timeline-icon">
    <img src="{{root}}assets/img/icons/2013NOV.png" class="" height="21" width="21" alt="">
  </div>
  <div class="timeline-content right">
    <p class="timeline-content-date">2013 - <span class="timeline-content-month">november</span></p>
    <p>Foundation 5 is all about speed. It made learning, using and developing with the framework faster than ever! More new components like <a href="//foundation.zurb.com/docs/components/equalizer.html" target="_blank">Equalizer</a>, <a href="//foundation.zurb.com/docs/components/offcanvas.html" target="_blank">Off-canvas</a>, and Icon-bar make a more complete package. Our responsive content plugin, <a href="//foundation.zurb.com/sites/docs/v/4.3.2/components/interchange.html" target="_blank">Interchange</a> can now swap in HTML content and images based on screen size.</p>
  </div>
</div>

<div class="timeline-item">
  <div class="timeline-icon">
    <img src="{{root}}assets/img/icons/2013NOV1.png" class="" height="21" width="21" alt="">
  </div>
  <div class="timeline-content">
    <p class="timeline-content-date">2013 - <span class="timeline-content-month">november</span></p>
    <p><a href="//foundation.zurb.com/emails.html" target="_blank">Foundation for Emails (formerly Ink)</a>, our responsive email framework is launched at the end of the year and helps designers easily create beautiful, responsive emails.</p>
  </div>
</div>

<div class="timeline-item">
  <div class="timeline-icon">
    <img src="{{root}}assets/img/icons/2014.png" class="" height="21" width="21" alt="">
  </div>
  <div class="timeline-content right">
    <p class="timeline-content-date">2014 - <span class="timeline-content-month">november</span></p>
    <p>We launched <a href="//zurb.com/article/1362/foundation-for-apps-is-here" target="_blank">Foundation for Apps</a>, the first front-end framework created for developing fully responsive web apps.</p>
  </div>
</div>

<div class="timeline-item">
  <div class="timeline-icon">
    <img src="{{root}}assets/img/icons/2015.png" class="" height="21" width="21" alt="">
  </div>
  <div class="timeline-content">
    <p class="timeline-content-date">2015</h2>
    <p><a href="//zurb.com/article/1416/foundation-6-is-here" target="_blank">Foundation for Sites 6 is released</a>. Faster, lighter, more versatile, more flexible and more powerful than ever before to get your projects from Prototype to Production.</p>
  </div>
</div>

<div class="timeline-item">
  <div class="timeline-icon">
    <img src="{{root}}assets/img/icons/2016.png" class="" height="21" width="21" alt="">

  </div>
  <div class="timeline-content right">
    <p class="timeline-content-date">2016</h2>
    <p><a href="//zurb.com/article/1432/foundation-for-emails-2-is-here" target="_blank">Foundation for Emails 2</a> is launched, revolutionizing email development through a workflow that uses the latest web technologies.</p>
  </div>
</div>




</div>    

</div>
</div>

