<section class="format-wrap text-center">
  <div class="row">
    <div class="large-12 columns centered-text">
      <h3>{{class-benefit-header}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns centered-text">
      <div class="img-wrap">
        <img src="{{root}}assets/img/mic-icon.svg" alt="" class="mic">
      </div>
      <h5>Live training</h5>
      <p>This class is presented live by members of the ZURB team! You'll get a chance to interact with us directly.</p>
    </div>
    <div class="large-3 columns centered-text">
      <div class="img-wrap">
        <img src="{{root}}assets/img/web-icon.svg" alt="" class="web">
      </div>
      <h5>Held online</h5>
      <p>We conduct the class online via GoToTraining, so you can attend from anywhere in the world.</p>
    </div>
    <div class="large-3 columns centered-text">
      <div class="img-wrap">
        <img src="{{root}}assets/img/question-icon.svg" alt="" class="question">
      </div>
      <h5>Live Q&amp;A</h5>
      <p>Get all your questions answered during the live Q&amp;A sessions. Each class topic is paired with dedicated Q&amp;A time.</p>
    </div>
    <div class="large-3 columns centered-text">
      <div class="img-wrap">
        <img src="{{root}}assets/img/video-icon.svg" alt="" class="video">
      </div>
      <h5>Keep the recording</h5>
      <p>After you complete the class, we'll send you the class slides, examples and the recording so you'll always have it to reference.</p>
    </div>
  </div>
  <div class="text-center">
    <a href="{{course-url}}?utm_source=Tutorials&utm_medium=website&utm_campaign=XY%20Grid%20Tutorial&utm_content=XY%20Grid%20Tutorial%20top%20button" class="button primary">{{secondary-button-text}}</a>
  </div>

  <div class="row column medium-10 large-8">
    <p class="page-intro mb0">To master everything new in 6.4, along with the rest of Foundation, check out the ZURB team's <a class="sites" href="https://courses.zurb.com/?utm_source=Tutorials&utm_medium=website&utm_campaign=XY%20Grid%20Tutorial&utm_content=XY%20Grid%20Tutorial%20top%20link">upcoming training opportunities.</a></p>
  </div>

  <section class="testimonials">
    <div class="course-testimonials advanced-foundation-testimonials testimonial-wrap bump-medium">
      <div class="hat-icon"></div>
      <div class="row">
        <div class="large-12 columns centered-text">
          <h3>A Word From Our Students</h3>
          <p class="sub-headline">Here's a few words from folks who took the course.</p>
        </div>
      </div>
      <div class="row bump-small">
        <div class="large-4 columns testimonial">
          <div class="quote-courses">
            <p>The presenters also took time to clearly answer the questions, even if it meant a bit of background research was required. We have been using Foundation for two years on one of our websites, so some of the advanced features were really interesting to us.
            </p>
          </div>
          <div class="student">
            <img src="{{root}}assets/img/learn/testimonials/JoeAlderson.jpg" alt="Joe Alderson">
            <p>Joe Alderson</p>
            <p>ARM</p>
          </div>
        </div>
        <div class="large-4 columns testimonial">
          <div class="quote-courses">
            <p>Great to have answers from the experts via live chat in real time.</p>
          </div>
          <div class="student">
            <img src="{{root}}assets/img/learn/testimonials/KevinNicholson.jpg" alt="Kevin Nicholson">
            <p>Kevin Nicholson</p>
            <p>W3Design</p>
          </div>
        </div>
        <div class="large-4 columns testimonial">
          <div class="quote-courses">
            <p>There was a lot of features I never took advantage of which I will be now.</p>
          </div>
          <div class="student">
            <img src="{{root}}assets/img/learn/testimonials/alexwhedbee.jpg" alt="alex whedbee">
            <p>Alex Whedbee</p>
            <p>California Department of Developmental Services</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

<!-- testimonials -->
