<div class="column mb1">
  <img alt="Andrew Cochran" class="avatar round " src="https://avatars2.githubusercontent.com/u/409279?v=3&s=460">
  <div class="name">Andrew Cochran</div>
  <a href="https://github.com/andycochran">andycochran</a>
</div>
<div class="column mb1">
  <img alt="Jeremy Englert" class="avatar round " src="https://avatars1.githubusercontent.com/u/6110968?v=3&s=460">
  <div class="name">Jeremy Englert</div>
  <a href="https://github.com/JeremyEnglert">JeremyEnglert</a>
</div>
<div class="column mb1">
  <img alt="Colin Marshall" class="avatar round " src="https://avatars0.githubusercontent.com/u/4453733?v=3&s=460">
  <div class="name">Colin Marshall</div>
  <a href="https://github.com/colin-marshall">colin-marshall</a>
</div>
<div class="column mb1">
  <img alt="Brett Mason" class="avatar round " src="https://avatars3.githubusercontent.com/u/73229?v=3&s=460">
  <div class="name">Brett Mason</div>
  <a href="https://github.com/brettsmason">brettsmason</a>
</div>
<div class="column mb1">
  <img alt="Marius Olbertz" class="avatar round " src="{{root}}assets/img/yetinauts/marius_olbertz.jpg">
  <div class="name">Marius Olbertz</div>
  <a href="https://github.com/Owlbertz">Owlbertz</a>
</div>
<div class="column mb1">
  <img alt="Abdullah Salem" class="avatar round " src="https://avatars0.githubusercontent.com/u/177020?v=3&s=460">
  <div class="name">Abdullah Salem</div>
  <a href="https://github.com/abdullahsalem">abdullahsalem</a>
</div>
<div class="column mb1">
  <img alt="avatar" class="avatar round " src="https://avatars0.githubusercontent.com/u/8417506?v=3&s=460">
  <div class="name">Jens Köhler</div>
  <a href="https://github.com/designerno1">designerno1</a>
</div>
<div class="column mb1">
  <img alt="avatar" class="avatar round " src="https://avatars2.githubusercontent.com/u/10835186?v=3&s=460">
  <div class="name">Brian Tan</div>
  <a href="https://github.com/briantan888">briantan888</a>
</div>
<div class="column mb1">
  <img alt="avatar" class="avatar round " src="https://avatars3.githubusercontent.com/u/3342734?v=3&s=460">
  <div class="name">Corey Snyder</div>
  <a href="https://github.com/coreysyms">coreysyms</a>
</div>
<div class="column mb1">
  <img alt="avatar" class="avatar round " src="https://avatars0.githubusercontent.com/u/9939075?v=3&s=460">
  <div class="name">Nicolas Coden</div>
  <a href="https://github.com/ncoden">ncoden</a>
</div>
<div class="column mb1">
  <img alt="avatar" class="avatar round " src="https://platform.zurb.com/assets/icons/darthavatar.jpg">
  <div class="name">And you&hellip;</div>
  <a href="{{root}}get-involved/contribute.html">yourgithubusername</a>
</div>
