<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative Experiments from ZURB. Welcome to the ZURBplayground where we share creative interaction design tools and experiments from the design and engineering teams here at ZURB. We create tools, implementation examples, and other interesting projects that help people design for people."/>
    <meta name="author" content=" ZURB, inc."/>
    <title>Foundation for Apps | Playground from ZURB</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{root}}assets/img/icons/touch-icon-iphone-62abe0cdf7cdb268f32461f9e48a23c4.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{root}}assets/img/icons/touch-icon-ipad-7b1c7683ce9b947aef5438684d8866fd.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{root}}assets/img/icons/touch-icon-iphone-retina-82c632d82262f8d8a739f24a7c26da07.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{root}}assets/img/icons/touch-icon-ipad-retina-7482693019c5e4d3e8d1feffe719e6c7.png"/>
    <link rel="shortcut icon" href="{{root}}assets/img/icons/favicon-a1157e85ba46f377078d433981148c94.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2195009-2', 'auto');
      ga('send', 'pageview');

      ga('create', 'UA-2195009-27', 'auto', {name: "foundation"});
      ga('foundation.send', 'pageview');

    </script>
  <!-- Info Banner For Announcements or Links -->
    {{> info-banner}}


    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-position="left">

        <ul class="off-canvas-list">
          <li><label class="first">Studios</label></li>
          <li><a href="https://zurb.com/studios/working-together">Work</a></li>
          <li><a href="https://zurb.com/studios/customers/industries">Customers</a></li>
          <li><a href="https://zurb.com/wired">Wired</a></li>
          <li><a href="https://zurb.com/playground">Sparks</a></li>
          <li><a href="https://zurb.com/studios/who-we-are">About</a></li>
        </ul>

        <hr>

        <ul class="off-canvas-list">
          <li><label class="first">More zurb goodness</label></li>
          <li><a href="https://zurb.com/notable">Notable</a></li>
          <li><a href="https://zurb.com/manifesto">Manifesto</a></li>
          <li><a href="https://courses.zurb.com/">Foundation Training</a></li>
        </ul>

        <hr>

        <div class="zurb-links">
          <ul class="top">
            <li class="logo"><a href="https://zurb.com"><img src="{{root}}assets/img/icons/footer-zurb-icon.png" alt="zurb"></a></li>
            <li><a href="https://zurb.com/about">About</a></li>
            <li><a href="https://zurb.com/blog">Blog</a></li>
            <li><a href="https://zurb.com/contact">Contact</a></li>
          </ul>
          <ul class="pillars">
            <li>
              <a href="https://www.zurb.com/studios" class="footer-link-block services">
                <img src="{{root}}assets/img/icons/footer-studios-icon.png" alt="studios">
                <span class="title">Studios</span>
                <span>Helping startups win since '98.</span>
              </a>
            </li>
            <li>
              <a href="https://www.get.foundation/" class="footer-link-block foundation">
                <img src="{{root}}assets/img/icons/footer-foundation-icon.png" alt="foundation">
                <span class="title">Foundation</span>
                <span>World's most advanced responsive framework.</span>
              </a>
            </li>
            <li>
              <a href="https://zurb.com/notable" class="footer-link-block apps">
                <img src="{{root}}assets/img/icons/footer-notable-icon.png" alt="notable">
                <span class="title">Notable</span>
                <span>Tools to rapidly prototype and iterate.</span>
              </a>
            </li>
          </ul>
        </div>

    </div>

      <div class="off-canvas-content" data-off-canvas-content>

        {{> offcanvas-title-bar}}

        <nav class="marketing-topbar show-for-medium">

          <ul class="menu">

            <li class="topbar-title"><a class="zurb-logo" href="https://zurb.com/studios">ZURB <strong>Studios</strong></a>

          </ul>

          <ul class="dropdown menu" data-dropdown-menu data-click-open="false">

            <li class="has-submenu">
              <a href="https://zurb.com/studios/working-together">Work</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="https://zurb.com/studios/working-together">Approach</a></li>
                <li><a href="https://zurb.com/studios/our-work/services">Services</a></li>
                <li><a href="https://zurb.com/studios/our-work/case-studies">Case Studies</a></li>
              </ul>
            </li>

            <li class="has-submenu">
              <a href="https://zurb.com/studios/customers/industries">Customers</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="https://zurb.com/studios/customers/industries">Industries</a></li>
                <li><a href="https://zurb.com/studios/customers/startup">Startups</a></li>
                <li><a href="https://zurb.com/studios/customers/small-business">Small Businesses</a></li>
                <li><a href="https://zurb.com/studios/customers/enterprise">Enterprises</a></li>
              </ul>
            </li>

            <li class="has-submenu">
              <a href="https://zurb.com/wired">Wired</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="https://zurb.com/wired/about">About</a></li>
                <li><a href="https://zurb.com/wired/past-events">Past Events</a></li>
                <li><a href="https://zurb.com/wired/volunteers">Volunteers</a></li>
                <li><a href="https://zurb.com/wired/resources">Resources</a></li>
                <li><a href="https://zurb.com/wired/blog">Blog</a></li>
              </ul>
            </li>

            <li class="has-submenu">
              <a href="https://zurb.com/playground">Sparks</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="https://zurb.com/playground">Playground</a></li>
                <li><a href="https://zurb.com/word">Word</a></li>
                <li><a href="https://zurb.com/friday15">Friday 15</a></li>
              </ul>
            </li>

            <li>
              <a href="https://zurb.com/studios/who-we-are">About</a>
            </li>

          </ul>
        </nav>

        <div class="apps-layout" id="apps">
          {{> body}}
        </div>



        {{> footer}}

        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-2195009-59', 'auto');
        ga('send', 'pageview');
      </script>

        </div>
      </div>
    </div>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
