<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="4Z0XnuPtcGIpIlbrslVJBmVEGuzeHYVdzFWCULKi5qU" />
    <title>{{name}} | Foundation</title>
    <link rel="icon" href="{{root}}assets/img/icons/foundation-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdn.optimizely.com/js/4584870516.js"></script>
    {{> honeybadger-embed}}
  </head>
  <body>
  <!-- Info Banner For Announcements or Links -->
    {{> info-banner}}

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-position="left">
          {{> offcanvas-menu}}
        </div>

        <div class="off-canvas-content" data-off-canvas-content>

          {{> offcanvas-title-bar}}

          {{> topbar}}

          {{> body}}

          {{> footer}}

        </div>
      </div>
    </div>
    <script src="{{root}}assets/js/templates.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
