<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites | {{name}}</title>
    <link rel="icon" href="{{root}}assets/img/icons/foundation-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  </head>
  <body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2195009-2', 'auto');
    ga('send', 'pageview');

    ga('create', 'UA-2195009-27', 'auto', {name: "foundation"});
    ga('foundation.send', 'pageview');

  </script>

  <!-- Info Banner For Announcements or Links -->
    {{> info-banner}}


    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-position="left">
          {{> offcanvas-menu}}
        </div>

        <div class="off-canvas-content" data-off-canvas-content>

          {{> offcanvas-title-bar}}

          {{> topbar}}


            {{> body}}


        

          {{> footer}}

        <script>
            var _gaq = _gaq || [];
        _gaq.push(
          ['_setAccount', 'UA-2195009-2'],
          ['_trackPageview'],
          ['b._setAccount', 'UA-2195009-27'],
          ['b._trackPageview']
        );

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>

      </div>
    </div>
  </div>
    <script src="{{root}}assets/js/templates.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
    <script type="text/javascript">
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '585552368271130');
      fbq('track', "PageView");
    </script>
    <!-- Twitter universal website tag code -->
    <script>
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
      a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','nvkjx');
      twq('track','PageView');
    </script>
  <!-- End Twitter universal website tag code -->
  </body>
</html>
