<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites | {{name}}</title>
    <link rel="icon" href="{{root}}assets/img/icons/foundation-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  </head>
  <body>

  <!-- Info Banner For Announcements or Links -->
    {{> info-banner}}


    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-position="left">
          {{> offcanvas-menu}}
        </div>

        <div class="off-canvas-content" data-off-canvas-content>

          {{> offcanvas-title-bar}}

          {{> topbar}}


            {{> body}}


        

          {{> footer}}

        <script>
            var _gaq = _gaq || [];
        _gaq.push(
          ['_setAccount', 'UA-2195009-2'],
          ['_trackPageview'],
          ['b._setAccount', 'UA-2195009-27'],
          ['b._trackPageview']
        );

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>

      </div>
    </div>
  </div>
    <script src="{{root}}assets/js/templates.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
